 body{
    font-family:sans-serif;
}
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.subnote{
    font-size:12px;
}
.smallnote{
    font-size:14px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -105px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}
.tooltip .tooltiptext2 {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -50px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.left{float:left; width:33%;}
.insm{width:40px;
    text-align: right;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;}
  .insm:focus,.insm.focus{
  box-shadow: inset 1px 1px 2px 0 #c9c9FF;
}

.insmt{width:120px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;}
  .insmt:focus,.insmt.focus{
  box-shadow: inset 1px 1px 2px 0 #c9c9FF;
}

/*tooltip list*/
.tooltip ul {
    list-style-position: inside;
}
/**/
h4 {
    display: block;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
  font-size:16px;
  margin-bottom:5px
}
.fancybtn {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  margin-top:3px; 
  margin-bottom:3px;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:2px 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.fancybtn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.fancybtn:active {
  position:relative;
  top:1px;
}

}
.fancybtn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.fancybtn:active {
  position:relative;
  top:1px;
}
.fancybtn:disabled {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #777777), color-stop(1, #666666));
  background:-moz-linear-gradient(top, #777777 5%, #666666 100%);
  background:-webkit-linear-gradient(top, #777777 5%, #666666 100%);
  background:-o-linear-gradient(top, #777777 5%, #666666 100%);
  background:-ms-linear-gradient(top, #777777 5%, #666666 100%);
  background:linear-gradient(to bottom, #777777 5%, #666666 100%)
}
#main{
  width:800px;margin-left:auto; margin-right:auto;
}

#ta_output {
  width:600px;
  height:400px;
  resize: none;
}
#ta_nameput {
  width:180px;
  height:400px;
  resize: none;

}

#div_nameput{
  float: left;
  width:200px;
  height:430px;
}
#div_output{
  float: left;
  width:600px;
  height:430px;
}